<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/data/logs" />
    <property name="APP_HOME" value="pudh-service" />
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/${APP_HOME}/${APP_HOME}_%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>


<!--<configuration debug="false">-->

    <!--&lt;!&ndash;<property name="log.base" value="${log_dir}/" />&ndash;&gt;-->
    <!--<property name="log.base" value="C:/data/log/dsboot/" />&lt;!&ndash;配置日志输出路径（测试配置）&ndash;&gt;-->

    <!--&lt;!&ndash; 控制台输出 &ndash;&gt;-->
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n-->
            <!--</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 按照每天生成错误日志文件 &ndash;&gt;-->
    <!--<appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<Prudent>true</Prudent>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;日志文件输出的文件名 &ndash;&gt;-->
            <!--<FileNamePattern>${log.base}TEST_ERROR-%d{yyyy-MM-dd}.log</FileNamePattern>-->
            <!--&lt;!&ndash;日志文件保留天数 &ndash;&gt;-->
            <!--<MaxHistory>5</MaxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--&lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 &ndash;&gt;-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n-->
            <!--</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">&lt;!&ndash; 只打印错误日志 &ndash;&gt;-->
            <!--<level>ERROR</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 按照每天生成警告日志文件 &ndash;&gt;-->
    <!--<appender name="WARNFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<Prudent>true</Prudent>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;日志文件输出的文件名 &ndash;&gt;-->
            <!--<FileNamePattern>${log.base}TEST_WARN-%d{yyyy-MM-dd}.log</FileNamePattern>-->
            <!--&lt;!&ndash;日志文件保留天数 &ndash;&gt;-->
            <!--<MaxHistory>5</MaxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--&lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 &ndash;&gt;-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n-->
            <!--</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">&lt;!&ndash; 只打印警告日志 &ndash;&gt;-->
            <!--<level>WARN</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 按照每天生成INFO日志文件 &ndash;&gt;-->
    <!--<appender name="INFOFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<Prudent>true</Prudent>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;日志文件输出的文件名 &ndash;&gt;-->
            <!--<FileNamePattern>${log.base}TEST_INFO-%d{yyyy-MM-dd}.log</FileNamePattern>-->
            <!--&lt;!&ndash;日志文件保留天数 &ndash;&gt;-->
            <!--<MaxHistory>5</MaxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--&lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 &ndash;&gt;-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n-->
            <!--</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">&lt;!&ndash; 只打印INFO日志 &ndash;&gt;-->
            <!--<level>INFO</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 按照每天生成DEBUG日志文件 &ndash;&gt;-->
    <!--<appender name="DEBUGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<Prudent>true</Prudent>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;日志文件输出的文件名 &ndash;&gt;-->
            <!--<FileNamePattern>${log.base}TEST_DEBUG-%d{yyyy-MM-dd}.log</FileNamePattern>-->
            <!--&lt;!&ndash;日志文件保留天数 &ndash;&gt;-->
            <!--<MaxHistory>5</MaxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--&lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 &ndash;&gt;-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n-->
            <!--</pattern>-->
        <!--</encoder>-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">&lt;!&ndash; 只打印DEBUG日志 &ndash;&gt;-->
            <!--<level>DEBUG</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 日志输出级别 &ndash;&gt;-->
    <!--<root level="DEBUG">-->
        <!--<appender-ref ref="STDOUT" />-->
        <!--<appender-ref ref="ERRORFILE" />-->
        <!--<appender-ref ref="WARNFILE" />-->
        <!--<appender-ref ref="INFOFILE" />-->
        <!--<appender-ref ref="DEBUGFILE" />-->
    <!--</root>-->

<!--</configuration>-->